<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{pageTitle.ordini}"></title>
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap"
    rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div th:replace="fragments/base.html :: header"></div>
  <ul>
    <li th:each="ordine : ${ordini}">
      <div id="ordine">
        <div id="top">
          <div id="topinfo">
            <p>ORDINE EFFETUATO IL:</p>
            <p th:text="|${ordine.data}|">Data ordine</p>
          </div>
          <div id="topinfo">
            <p>TOTALE</p>
            <p th:text="|${ordine.scatola.prezzo}|">Totale ordine</p>
          </div>
          <div id="topinfo">
            <p>UTENTE</p>
            <p th:text="|${ordine.compratore.nome}|">Utente ordine</p>
          </div>
          <div id="topd">
            <p th:text="|${ordine.telefono}|">Telefono utente</p>
          </div>
        </div>
        <div id="sotto">
          <div id="topinfo">
            <img th:src="@{/images/{image}(image=${ordine.scatola.linkFoto})}">
          </div>
          <div id="topinfo">
            <p th:text = "| ${ordine.scatola.nome} Box |" ></p>
          </div>
          <div id="pulsanti">
            <a th:href="@{'/ordine' + '/' + ${ordine.id}}">Visualizza Ordine </a>
            <a th:href="@{'/assegnaDipendente' + '/' + ${ordine.scatola.id}}">Assegna un dipendente</a>
          </div>
        </div>
      </div>

    </li>
  </ul>
  <footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>