<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div th:fragment="header">
        <div sec:authorize="!isAuthenticated()" class="login">
            <a th:href="@{/login}">Accedi</a>
            <a th:href="@{/register}">Registrati</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="login">
            <a th:href="@{/logout}">Logout</a>
            <a th:href="@{/ordini}">I miei ordini</a>
        </div>
        <div id="menu">
            <a th:href="@{/default}">HOME</a>
            <a th:href="@{/inVendita}">SHOP</a>
            <img src="/images/logoexplosionBox1.png"/>
            <a>INSPO</a>
            <a>CONTACT</a>
          </div>
          <div id="linea"></div>
    </div>

    <footer th:fragment="fondo">© 2021 Di Nepi - Baroni. ExplosionBox</footer>
</body>

</html>