#login{
	margin-top:-30px;
    text-align:right;
}

#fine{
	margin-top:1px;
    background:black;
    color:white;
    height:150px;
}

footer{
  background:#999997;
  color:black;
  font-size:17px;
  text-align:center; 
}

#centro{
  height:300px;
  background: #D4BAB0;
  text-align:center;
  padding-top:200px;
}

#bottone{
  padding:4px;
  border:solid 1px;
}

.menu{
  text-align:center;
 }

#linea{
  height:5px;
  background:black;
  margin-bottom:10px;
  margin-left:20%;
   margin-right:20%;
}

p{
  font-size:70px;
  margin-top:-80px;;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
  background-color: #D4BAB0;
  }
  
  img{
	margin:30px;;
	height:100px;
}