#box{
	display:flex;
	justify-content: center;
	height:700px;
	margin-top:40px;
}

#sinistra{
 margin-right:30px; 
}
#titolo{
 font-size:28px;
  font-weight:bold;
}
p{
	font-family:'Quicksand', sans-serif;
  font-weight:bold;
}
select {
	font-family:'Quicksand', sans-serif;
  font-size:10px;
  width: 100%;
  padding: 16px 20px;
  border: 1px solid grey;
  
}

#anteprima{
  height:500px;
}

.login{
  margin-top:30px;
  text-align:right;
  font-family:'Quicksand', sans-serif;
}

#menu{
  text-align:center;
  font-size:18px;
  font-family:'Quicksand', sans-serif;
 }

 #linea{
  height:0.7px;
  background:black;
  margin-bottom:8px;
  margin-left:30%;
  margin-right:30%;
  margin-top:2px;
}


#linea{
  height:0.7px;
  background:black;
  margin-bottom:8px;
  margin-left:30%;
  margin-right:30%;
  margin-top:2px;
}
.header{
	color:black;
}
a{	
text-decoration: none;
  margin-left: 10px; 
  margin-right: 10px;
}
.pagina{
	display:block;
	color:white;
	 margin-bottom: 10px; 
  margin-top: 10px;
}
.pagine{
  font-family: 'Quicksand', sans-serif;
  font-weight:bold;
  font-size: 10px;
  margin-left:50px;
  margin-right:50px;
  margin-top: 50px;
}

a:hover{
  background-color: #D4BAB0;
  }
  
  #logo{
    height:180px;
    margin-left:12px;
    margin-right:12px;
    margin-bottom:-3px;
}

#fine{
  margin-top:1px;
  background:black;
  color:white;
  height:150px;
  display:flex;
  justify-content:center;
}

footer{
  background:#999997;
  color:black;
  font-size:17px;
  text-align:center;
}