<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{pageTitle.contatti}"></title>
    <link rel="stylesheet" th:href="@{/css/info.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div th:replace="fragments/base.html :: header"></div>
     <p id="top"> Contattaci <p>
  <p id="top2">Non esitare a contattarci per qualsiasi richiesta </p>
  <p id="top2"> 123 456789 | info@explosionbox.com </p>
    <div th:replace="fragments/base.html :: pre-fondo"></div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>