<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/conferma.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div th:replace="fragments/base.html :: header"></div>
        <h2>Scegli il dipendente</h2>
        <ul>
            <li th:each="dipendente : ${dipendenti}">
                <a th:href="@{'/assegna' + '/' + ${dipendente.id}}" 
                th:text="|${dipendente.nome} ${dipendente.cognome}: ${dipendente.id}|"></a>
            </li>
        </ul>
    </section>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>