<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <img src="images/ProvaLogo.jpg"/></img>
         <div id="login">
          <a th:href="@{/login}">Accedi</a>
          <a th:href="@{/register}">Registrati</a>
        </div>
  <div class="menu">
    <a>HOME</a>
    <a>SHOP</a>
    <a>SOME IDEAS</a>
    <a>FAQ</a>
    <a>CONTACT</a>
  </div>
  <div id="linea"></div>
    
  <div id=centro>
  <p id="titolo">EXPLOSION </p>
   <p id="titolo"> BOX </p> 
  <a id="bottone" >Visita lo shop </a> </div>
<div id="fine">
  <div class="pagine">
    <p class="pagina">Shipping & Returns<p>
    <p class="pagina">Store Policy<p>
    <p class="pagina">Payment Methods<p>
  </div>
  <div class="pagine">
    <p class="pagina">Contact<p>
    <p class="pagina">Tel: 123-456-7890<p>
    <p class="pagina">help@explosionbox.com<p>
  </div>
  <div class="pagine">
    <p class="pagina">Facebook<p>
    <p class="pagina">Instagram<p>
    <p class="pagina">Pinterest<p>
  </div>  
</div>
<footer>© 2021 Di Nepi - Baroni. ExplosionBox</footer>

</body>
</html>