<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
  <div th:replace="fragments/base.html :: header"></div>  
  <div id=centro>
    <p id="titolo">EXPLOSION </p>
    <p id="titolo"> BOX </p> 
    <p id="bottone" ><a id="bottone2" th:href="@{/inVendita}">Visita lo shop </a></p> 
  </div>
  <div id="fine">
    <div class="pagine">
      <p class="pagina">CONSEGNA & RESO</p>
      <p class="pagina">STORE POLICY</p>
      <p class="pagina">METODI DI PAGAMENTO</p>
    </div>
    <div class="pagine">
      <p class="pagina">CONTATTI</p>
      <p class="pagina">Tel: 123-456-7890</p>
      <p class="pagina">help@explosionbox.com</p>
    </div>
    <div class="pagine">
      <p class="pagina">Facebook</p>
      <p class="pagina">Instagram</p>
      <p class="pagina">Pinterest</p>
    </div>  
  </div>
  <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>