<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <img src="images/ProvaLogo.jpg"/></img>
         <div id="login">
          <a th:href="@{/login}">Accedi</a>
          <a th:href="@{/register}">Registrati</a>
        </div>
  <div class="menu">
    <a>HOME</a>
    <a>SHOP</a>
    <a>SOME IDEAS</a>
    <a>FAQ</a>
    <a>CONTACT</a>
  </div>
  <div id="linea"></div>
    
  <div id=centro>
  <p>EXPLOSION</p> 
  <p>BOX</p>
  <a id="bottone" >Visita lo shop </a> </div>
<div id="fine">fine</div>
<footer>© 2021 Di Nepi - Baroni. ExplosionBox</footer>

    </body>
</html>