<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LOGIN</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div th:replace="fragments/base.html :: header"></div>
    <section>
        <form th:action="@{/login}" method="POST">
            <table>
            <p id="titolo"> Accedi </p>
                <tr>
                    <td>Username</td>
                    <td><input type="text" placeholder="username" name="username"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" placeholder="password" name="password"></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Accedi</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
    <p id="reg"> ---------- Sei nuovo su ExplosionBox? ----------</p>
   <a id="pulsante" th:href="@{/register}"> Crea il tuo account </a>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>

</html>