<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div th:replace="fragments/base.html :: header"></div>
        <div th:if="${ordine}" th:object="${ordine}">
            <strong>Oggetto ordinato: </strong><span><a th:text="|*{scatola.nome} Box|"
                th:href="@{'/scatola' + '/' + *{scatola.id}}">qui-va-nome-scatola</a></span><br>
            <strong>Indirizzo di consegna:</strong><span th:text="*{indirizzo}">qui-va-indirizzo</span><br>
            <strong>Data dell'ordine:</strong><span th:text="*{data}">qui-va-data</span><br>
            <strong>Recapito telefonico:</strong><span th:text="*{telefono}">qui-va-telefono</span><br>
        </div>
        <div th:unless="${ordine}">Non esiste</div>
        <footer th:replace="fragments/base.html :: fondo"></footer>
    </body>
</html> 