<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>POLICY</title>
        <link rel="stylesheet" th:href="@{/css/info.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <body>
  <div th:replace="fragments/base.html :: header"></div>
  <p id="titolo">Store Policy </p>  
  <p id="testo">Gentile Utente,</p>
  <p id="testo">la presente informativa ha lo scopo di descrivere il trattamento dei dati personali raccolti tramite questo sito (di seguito “<bold>Sito</bold>”) di proprietà di Explosion Box (di seguito “<bold>ExplosionBox</bold>”).</p>
  <p id="testo">Tale informativa è resa ai sensi degli artt. 13 e 14 del Regolamento (UE) 2016/679 General Data Protection Regulation (di seguito “GDPR”) agli utenti che interagiscono con i servizi web del Sito (di seguito “Interessati”); 
  la navigazione all'interno del Sito è libera e non richiede registrazione alcuna, con eccezione di alcune aree in cui l'utente può liberamente ed espressamente fornire una serie di dati che lo riguardino per accedere a servizi specificamente individuati. </p>
  <p id="testo">Laddove, pertanto, il visitatore intenda fornire i propri dati personali per accedere a tali ulteriori servizi, è presente la specifica informativa sul trattamento dei dati personali redatta al fine di definire finalità e modalità del trattamento
   dei dati di ciascun servizio da parte di ExplosionBox. In riferimento ai trattamenti ivi descritti, l’interessato potrà esprimere liberamente il proprio consenso al trattamento.</p>
  <p id="testo">Desideriamo informarLa, difatti, che il GDPR prevede la tutela delle persone fisiche e di altri soggetti rispetto al trattamento dei dati personali.</p>
  <p id="testo">Secondo la normativa il trattamento dei dati di carattere personale deve essere improntato ai principi di liceità correttezza e trasparenza ai sensi dell’art. 5 del GDPR.</p>
  <p id="testo">Ai sensi degli articoli 13 e 14 del GDPR, pertanto, Le forniamo le seguenti informazioni:</p>
  <p id="testo"><bold>1. Titolare del trattamento</bold> </p>
  <p id="testo">Il titolare del trattamento è ExplosionBox con sede legale a Roma (RM), Via Tommasi, 27, C.A.P. 00123 (di seguito “<bold>Titolare</bold>”). </p>
  <p id="testo"></p>
  <div th:replace="fragments/base.html :: pre-fondo"></div>
  <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>