<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/scatola.css}" />
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@600&display=swap" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div th:replace="fragments/base.html :: header"></div>
        <h3 th:text="${scatola.nome}"></h3>
        <div id="pagina">
            <div th:if="${scatola}" th:object="${scatola}">
                <div id="right">
                    <h3 th:text="|${scatola.nome} Box|">nome</h3><br>
                    <p th:text="${scatola.dimensione}">dimensione</p><br>
                    <p th:text="${scatola.decorazione}">decorazione</p><br>
                    <p th:text="${scatola.colore1}">colore1</p><br>
                    <p th:text="${scatola.colore2}">colore2</p><br>
                    <p th:text="${scatola.numeroFoto}">numeroFoto</p><br>
                    <div th:each="card : ${cards}">
                        <a href = "card.html"
                        th:href="@{'/card' + '/' + ${card.id}}" 
                        th:text="|${card.descrizione}|">descrizione</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${scatola}">Non esiste</div>
        <footer th:replace="fragments/base.html :: fondo"></footer>
    </body>
</html> 